@import "kouto-swiss"
@import "variables.styl"
meyer-reset()

/*** Common ***/
html,
body
  size 100%
  min-height 100%
  min-width document-min-width
  font-family "Open Sans"
  background-color text-color

svg
  size 0
  display block
  use
    size 100%
    display block

input[type=number]
    -moz-appearance textfield
input[type=number]::-webkit-inner-spin-button 
input[type=number]::-webkit-outer-spin-button 
  -webkit-appearance none
  margin 0

::-webkit-input-placeholder
  color input-background-hover-color
  opacity 1
::-moz-placeholder
  color input-background-hover-color
  opacity 1
:-moz-placeholder
  color input-background-hover-color
  opacity 1
:-ms-input-placeholder
  color input-background-hover-color
  opacity 1

input
textarea
  size 100%
  box-sizing border-box
  border 0 none
  font-size 14px
  font-family "Open Sans"
  color input-text-dark-color
  background-color input-background-color
  outline none
  
input
  padding 0 20px
  box-sizing border-box

textarea
  padding 18px 20px
  margin-bottom 24px

.input-wrap
  size 100% 50px
  max-width column-width
  margin-bottom 24px
  display inline-block
  vertical-align top
  *display inline
  zoom 1

.logo
  size 18px
  display inline-block
  box-sizing border-box
  border 1px solid #4f5d67
  border-radius 50%
  background-image url('images/world.png')
  background-size auto 100%
  background-position 0 50%
  backgrount-repeat repeat-x
  animation world-animation 2s linear infinite 
@keyframes world-animation
  0%
    background-position 0 0
  100%
    background-position 220% 0

.call
  size 240px 60px
  color input-text-color
  font-size 14px
  text-transform uppercase
  border 0 none
  border-radius 0
  background-color input-background-hover-color
  letter-spacing 7px
  cursor pointer
  &:hover
    background-image linear-gradient(180deg, button-gradient-start-color, button-gradient-end-color)
  &.right
    float right
  &.center
    margin auto
.call-text
  font-size 14px
  font-weight 300
  line-height 24px
  color text-color
/** Sliders **/
.bx-wrapper
  margin-bottom 0
  .bx-viewport
    border 0px none
    box-shadow none
    left 0
    background transparent
    
/* Main slider */
.main-slider
  .slide
    min-width 440px
    min-height 500px
    relative false
    +media-query(all, min-width slider-breakpoint)
      min-width 660px
      min-height 400px
    .background
      size 100%
      min-width 440px
      min-height 500px
      +media-query(all, min-width slider-breakpoint)
        min-width 660px
        min-height 400px
    .content
      min-width 440px
      min-height 400px
      absolute 50% false false 50%
      transform translate(-50%, -50%)
      text-align center
      color #24292e
      +media-query(all, min-width 1000px)
        min-width 660px
        min-height 400px
      .heading
        margin-bottom 60px
        font-size 18px
        font-weight 300
        font-style italic
        color main-slider-heading-color
      .subheading
        margin-bottom 84px
        font-size 48px
        text-transform uppercase
        letter-spacing 15px
        +media-query(all, min-width 1000px)
          white-space nowrap
        
      hr
        size 60px 3px
        margin-bottom 84px
        background-color #24292e
        border 0 none

.slider-pager
  size 100% 6px
  relative false
  #bx-pager
    size 100% 6px
    margin -2px 0 0
    display table
    table-layout fixed
    .slider-controll
      display table-cell
      height 100%
      background-color #b7b2b3
  .slider-runner
    display block
    height 12px
    absolute false false 0 0
    z-index 10
    background-color #727378
    transition left 1s ease 0s
.slider-wrap
  relative false
.controls
  size 100% 60px
  absolute 0
  z-index 1
  margin auto
  .arrow-left
  .arrow-right
    absolute 0 false
    size 30px 60px
    margin auto
    cursor pointer
    svg
      size 100%
      display block
      fill input-background-hover-color
    .bx-next
    .bx-prev
      absolute 0
      size 100%
      display block
  .arrow-left
    left 0
  .arrow-right
    right 0
.reviews-slider
  .slide
    width 100%
    padding 0 45px
    box-sizing border-box
    color text-color
  .slide-content
    max-width 510px;
    margin auto;
  .review-heading
    width 100%
    display table
    margin-bottom 20px
  .review-author
  .review-rate
    display table-cell
    vertical-align middle
  .review-author
    font-size 24px
    text-align left
  .review-rate
    text-align right
    fill star-highlight-color
    .star
      size 12px
      display inline-block
      margin-left 6px
      fill inherit

  for i in (1..5)
    .rate-{i}
      .star:nth-child(n+{i+1})
        fill star-empty-color

  .review-text
    font-size 14px
    line-height 25px
    text-align justify
    text-align-last center
    
/** Calculator **/
.calculator
  .calculator-item
    size 100% 50px
    max-width column-width
  input[type="checkbox"]
  input[type="radio"]
    display none
    & + label
      box-sizing border-box
      font-size 14px
      line-height 18px
      text-align left
      color text-color
      cursor pointer
  input[type="checkbox"]
    & + label
      relative false
      display block
      padding-top 10px
      padding-left 47px
      line-height 20px
      &:before
        content ''
        size 35px
        absolute 0 false false 0
        background-color input-background-color
      svg
        absolute 0 false false 0
        size 35px
        fill transparent
        transition fill 0.2s linear
      span
        display inline-block
        line-height 17px
        color text-semi-transparent-color
    &:checked + label
      svg
        fill input-background-hover-color
  input[type="radio"]
    & + label
      size 100% 50px
      padding 0 20px
      display table
      background-color #fff
      &:hover
        color #fff
        background-color input-background-hover-color
      span
        display table-cell
        vertical-align middle
    &:checked + label
      color input-background-hover-color
      cursor default
      &:hover
        color #fff
    &:disabled
      & + label
        padding-left 20px !important
        font-weight bold
        color text-semi-transparent-color
        cursor default
        &:hover
          color text-semi-transparent-color
          background-color #fff
        
      & ~ label
        padding-left page-spacing

  .translation-calculator
    text-align justify
    &:after
      content ''
      size 100% 0
      display inline-block
      font-size 0
      line-height 0
  .translation-calculator-documents
  .translation-calculator-inputs
    width 100%
    max-width column-width
    vertical-align top
    display inline-block
    *display inline
    zoom 1
  .translation-calculator-documents
    max-height 80vh
    overflow-x hidden
    overflow-y scroll
    
.calculator-result-block
  size 100% 
  max-width column-width
  opacity 0
  line-height 60px
  font-size 14px
  font-weight 600
  color text-semi-transparent-color
  .result
  .result-prefix
  .result-units
  .result-value
    float right
  .result-value
    padding 0 16px 0 12px
    color text-color
    font-weight 300
    font-size 60px

      
/*** Sidebar ***/
.mobile
  size 100% 65px
  padding-left sidebar-width
  fixed -65px 0 false (-1 * sidebar-width)
  z-index 101
  display table
  color menu-item-color
  background-color text-color
  transition top 0.2s linear,
             left 0.2s linear
  .show &
    left 0
    .close
      opacity 1
    .menu
      opacity 0
  .close-block
  .menu-block
    display block
    line-height 65px
  .close-block
    width sidebar-width
    absolute 0 false 0 0
  .menu-block
    width 100%
    text-align center
  .close
  .menu
    cursor pointer
    text-align left
    transition opacity 0.2s linear
  .close
    opacity 0
  .menu
    opacity 1
    float left
  .logo-block
    display table
    margin auto
    .logo-wrap
      display table-cell
      vertical-align top
    a
      display table-cell
      vertical-align middle
      text-align left
      padding-left 15px
      color inherit
      text-decoration none
      line-height 16px
      transition color 0.2s linear
      &:hover
        color input-text-color
      
    .heading
      color menu-item-heading-color
      font-size 18px
      font-weight 600
      text-transform uppercase
    .subheading
      display block
      color menu-item-subheading-color
      opacity 1
      font-size 10px
      font-weight 400
      text-transform uppercase
    
  +media-query(all, max-width menu-breakpoint)
    top 0
aside
  size sidebar-width 100%
  fixed 0 false 0 0
  z-index 100
  min-height 455px
  transition left 0.2s linear
  +media-query(all, max-width menu-breakpoint)
    padding-top 65px
    box-sizing border-box
    left (-1 * sidebar-width)
    .icon
      display none
    .show &
      left 0
      
  nav
    size 100%
    display table
    background-color text-color
    
.top-menu
.bottom-menu
.language-menu
  display table-row
  width 100%
.top-menu
  height 100%
  
.menu-item
  width 100%
  padding 17px 0 17px 29px
  box-sizing border-box
  display block
  margin 0
  color menu-item-color
  background-color text-color
  transition background-color 0.2s linear
  &.current
    border-left 2px solid input-background-hover-color
    background-color menu-item-hover-color
  &.icon
    relative false
    padding 50px 0 48px 62px
    margin-bottom 43px
    .logo
      absolute 54px false false 33px
    .heading
      color menu-item-heading-color
      font-size 18px
      font-weight 600
    .subheading
      display block
      color menu-item-subheading-color
      opacity 1
      font-size 10px
      font-weight 400
      text-transform uppercase
      
  a
    color inherit
    text-decoration none
    transition color 0.2s linear
    &:hover
      color input-text-color
    
  .heading
    font-size 14px
    text-transform uppercase
  
  .subheading
    font-size 12px
    text-transform none
    display block
    opacity 0.2
.languages
  width 100%
  display table
  table-layout fixed
  border-top 1px solid menu-border-color
  .menu-item
    width auto
    display table-cell
    padding 21px 0
    text-align center
    .current
      color input-background-hover-color
      
/** Shadow **/
.shadow
  display none
  opacity 0
  fixed 0 0 0 sidebar-width
  z-index 100
  background-color text-color
  +media-query(all, max-width menu-breakpoint)
    left 0
    .show &
      left sidebar-width
  .shadow-content
    absolute 0
    margin auto
    text-align center
    height 18px
    .logo
      margin-bottom 10px
    .shadow-heading
      color menu-item-heading-color
      font-size 18px
      line-height 22px
      font-weight 600
    .shadow-subheading
      display block
      color menu-item-subheading-color
      font-size 10px
      font-weight 400
      text-transform uppercase

/*** Content ***/
.container
  size 100%
  padding-left sidebar-width
  box-sizing border-box
  opacity 1
  transition padding-left 0.2s linear,
             opacity 0.2s linear
  +media-query(all, max-width menu-breakpoint)
    padding-top 65px
    padding-left 0
    .show &
      padding-left sidebar-width
      overflow hidden
      opacity 0.2
      
/*** Pages ***/
.page
  size 100% auto
  min-height 100%
  padding page-padding page-spacing
  box-sizing border-box
  text-align center
  &.main
    background-color main-page-background-color
  &.accountant
    background-color accountant-start-background-color
    background-image: linear-gradient(-90deg, accountant-start-background-color, accountant-end-background-color)
  &.legal
    background-color legal-start-background-color
    background-image: linear-gradient(-90deg, legal-start-background-color, legal-end-background-color)
  &.legalization
    background-color legalization-start-background-color
    background-image: linear-gradient(-90deg, legalization-start-background-color, legalization-end-background-color)
  &.translation
    background-color translation-start-background-color
    background-image: linear-gradient(-90deg, translation-start-background-color, translation-end-background-color)
  &.reviews
    background-color reviews-page-background-color
  &.contacts
    background-color contacts-page-background-color
  &.page-404
    height 100%
    background-color page-404-background-color

.page-content
  width 100%
  min-width column-width
  max-width page-width
  margin auto
  font-size 0
  
.page-heading
  size 100% 108px
  display table
  margin-bottom 100px
.page-title
.page-image-block
  display table-cell
.page-title
  padding-right 40px
  vertical-align top
  font-size 48px
  line-height 60px
  text-align left
  color rgba(0, 0, 0, 0.2)
  text-transform uppercase
.page-image-block
  size 108px auto
  vertical-align middle
.page-image
  size 108px
  display block
  fill rgba(0, 0, 0, 0.2)

.page-text
  max-width 490px
  min-width column-width
  margin auto
  line-height 23px
  font-size 14px
  font-weight 300
  color text-color

.page-delimiter
  size 60px 1px
  margin 90px auto
  background-color input-background-hover-color

.page-block-wrap
  width 100%
  max-width page-width
  margin auto
  display block
  text-align center
  +media-query(all, min-width content-breakpoint)
    text-align justify 
  &:after
    content ''
    size 100% 0
    display inline-block
    font-size 0
    line-height 0
  
.page-block
  width column-width
  display block
  margin auto
  +media-query(all, min-width content-breakpoint)
    display inline-block
    vertical-align top

.page-list
.block-list
  margin 0 0 90px 
  padding 0
  list-style none
  text-align left
  columns: 2 column-width;
  
.list-item
  padding 0
  margin 0 0 20px
  &:before
    content ''
    margin 0 -4px 0 0 
    display inline-block
    vertical-align middle
    line-height 18px
    size 4px
    background-color #986b4d
.list-item-text
  padding 0 0 0 24px
  display inline-block
  vertical-align top
  font-size 14px
  line-height 18px
  color text-color

.block-title
.block-text
  text-transform uppercase
  text-align left
  font-weight 600
.block-title
  margin-bottom 11px
  font-size 30px
  line-height 30px
  color text-color
.block-text
  margin-bottom 60px
  font-size 14px
  line-height 14px
  color rgba(25, 27, 28, 0.5)
    
/*** Main ***/
.main-title
  margin-bottom 60px
  font-size 18px
  line-height 18px
  font-weight 600
  color input-background-hover-color
  letter-spacing 8px
  letter-spacing 0.625
    
.advantages-block
  .advantages-title    
    color text-color
    font-size 30px
    letter-spacing 8px
.advantages
  margin 84px 0 60px
  .advantage-block
    text-align justify
    &:after
      content ''
      size 100% 0
      display inline-block
      font-size 0
      line-height 0
    
  .advantage
    width 180px
    margin 0 0 page-spacing
    text-align center
    vertical-align top
    display inline-block
    *display inline
    zoom 1
    color text-color
  
  .advantage-image
    size 120px
    display block
    fill input-background-hover-color
    margin auto
  h3
    margin page-spacing auto
    font-size 14px
    font-weight 600
    text-transform uppercase
  p
    font-size 12px
    font-weight 300
    line-height 17px
    opacity .65
    

/*** Legal ***/

.prices-wrap
  text-align justify
  &:after
    content ''
    size 100% 0
    display inline-block
    font-size 0
    line-height 0
    
  .price-block
    margin 0 0 page-spacing
    vertical-align top
    display inline-block
    *display inline
    zoom 1
    
.price-title
  padding 0 0 14px 22px
  font-size 24px
  line-height 24px
  font-weight 600
  text-transform uppercase
  color text-transparent-color
.prices
  width 100%
  max-width column-width
  border-top 1px solid input-border-color
  tr
    &.additional
      td
        height 34px
        vertical-align top
        border-top 0 none
    td
      height 50px
      box-sizing border-box
      vertical-align middle
      line-height 24px
      text-align right
      background-color input-background-color
      border-top 1px solid input-border-color
      &.name
        width 100%
        padding-left 20px
        font-size 14px
        text-align left
        color text-color
      &.price
        font-size 24px
        color input-background-hover-color
      &.units
        padding 0 14px 0 15px
      &.prefix
        padding 0 15px
      &.units
      &.prefix
        font-size 12px
        font-weight 600
        color text-semi-transparent-color
        
.contacts
  .block-title
    color contacts-text-color
  .block-text
    color text-color

/*** Reviews Page  ***/
.rate
  size 100%
  display table
  background-color input-background-color
  .title
  .stars
    display table-cell
    vertical-align middle
    padding 0 20px
  .title
    font-size 14px
    color text-semi-transparent-color
  .stars
    input[type="radio"]
      display none
      +label
        display inline-block
        fill star-highlight-color
        svg
          size 24px
          fill inherit
      &:checked + label ~ label
        fill star-empty-color
    &:hover
      input[type="radio"]:checked
        & + label ~ label
          fill star-hover-color
        & + label:hover ~ label
        & + label ~ label:hover ~ label
          fill star-empty-color
.review-message
  size 100% 240px
  resize none
  
/*** Contacts page ***/
.contacts-block
  .contact
    size 100% 75px
    max-width column-width
    text-align left
    font-size 14px
    font-weight 600
    color input-background-hover-color
    a
      color inherit
      text-decoration none
    p
      display inline-block
  svg
    size 24px
    margin-right page-spacing
    display inline-block
    fill input-background-hover-color

  .contacts-message
    size 100% 120px

/*** Page 404 ***/
.error-wrap
  size 100%
  display table
.error-block
  display table-cell
  vertical-align middle
  text-align center
.error-heading
  margin-bottom 24px
  font-size 18px
  font-weight 600
  color input-background-hover-color
.error-text
  line-height 24px
  font-size 14px
  color input-text-color
  font-weight 300
  
    /**** TMP ***/
  

    line-height 0

form
  text-align justify
  &:after
    content ''
    size 100% 0
    display inline-block
    font-size 0
    