/*** Colors ***/
menu-item-color = #919191
menu-item-hover-color = #24292e
menu-item-heading-color = #cccccc
menu-item-subheading-color = #545d66
menu-border-color = #303233

text-color = #191b1c
text-semi-transparent-color = rgba(25, 27, 28, 0.5)
text-transparent-color = rgba(25, 27, 28, 0.3)
contacts-text-color = rgba(255, 255, 255, 0.3)

main-slider-heading-color = #24292e

input-background-color = #fff
input-background-hover-color = #b87649
input-text-color = #ffffff
input-text-dark-color = #b87649
input-border-color = #e5e5e5

button-gradient-start-color = #e6945b
button-gradient-end-color = #d88b57


star-empty-color = #c1c1c2
star-hover-color = rgba(152, 107, 77, 0.5)
star-highlight-color = #986b4d

/*** Backgrounds ***/
main-page-background-color = #ebebeb
accountant-start-background-color = #dae3de
accountant-end-background-color = #cad7d0
legal-start-background-color = #dadce3
legal-end-background-color = #cacdd7
legalization-start-background-color = #e3dae2
legalization-end-background-color = #d7cad5
translation-start-background-color = #e3deda
translation-end-background-color = #d7d0ca
reviews-page-background-color = #ebebeb
page-404-background-color = #17191a
contacts-page-background-color = #24292e

/*** Adaptive ***/
page-spacing = 30px
page-padding = 120px

column-width = 414px
page-width = 888px

sidebar-width = 220px

document-min-width = column-width + 2 * page-spacing
menu-breakpoint = document-min-width + sidebar-width
content-breakpoint = page-width + sidebar-width + 2 * page-spacing
slider-breakpoint = 1000px