/*** Colors ***/
menu-item-color = #919191
menu-item-hover-color = #24292e
menu-item-heading-color = #cccccc
menu-item-subheading-color = #545d66
menu-border-color = #303233

text-color = #191b1c
text-semi-transparent-color = rgba(25, 27, 28, 0.5)
text-transparent-color = rgba(25, 27, 28, 0.3)
contacts-text-color = rgba(255, 255, 255, 0.3)

input-background-color = #fff
input-background-hover-color = #b87649
input-text-color = #ffffff
input-border-color = #e5e5e5

button-gradient-start-color = #e6945b
button-gradient-end-color = #d88b57

contacts-page-background-color = #24292e

star-empty-color = #c1c1c2
star-hover-color = rgba(152, 107, 77, 0.5)
star-highlight-color = #986b4d

page-404-background-color = #17191a;
/*** Adaptive ***/
mobile-breakpoint = 634px