:php session_start()  // Start session
:php require_once('/../php/language.php') // Detect active language
:php require_once('/../languages/'.$_SESSION['language'].'.php')  // Include active language
h1 ERROR 404! 