:php session_start()  // Start session
:php require_once('/../php/language.php') // Detect active language
.slider.main-slider
  .slide
    img.background(src="./images/slide-1.jpg" alt='')
    .content.slide-1
      .small-text Нет ничего проще
      .big-text достижения высот
      hr
      button.call Связаться
  .slide
    img.background(src="./images/slide-1.jpg" alt='')
    .content.slide-1
      .small-text Нет ничего проще
      .big-text достижения высот
      hr
      button.call Связаться
#bx-pager
  a.slider-controll(data-slide-index="0" href="")
    .slider-runner
  a.slider-controll(data-slide-index="1" href="")

.page.main
  .page-content
    h1.main-title(data-language="main-about-title") <? echo $language['main-about-title']; ?>
    p.page-text(data-language="main-about-text") <? echo $language['main-about-text']; ?>
    .page-delimiter
    .advantages-block
      h2.advantages-title(data-language="main-advantages-title") <? echo $language['main-advantages-title']; ?>
      .advantages
        <? $i = 0; ?>
        <? foreach($language['main-advantages'] as $advantage) { ?>
        .advantage
          .image(class!="<? echo $advantage['class']; ?>")
          h3(data-language="main-advantages" data-array!="<? echo $i; ?>" data-item="title") <? echo $advantage['title']; ?>
          p(data-language="main-advantages" data-array!="<? echo $i; ?>" data-item="text") <? echo $advantage['text']; ?>
        |  
        <? $i++; ?>
        <? }; ?>
      button.call(data-language="main-call") <? echo $language['main-call']; ?>